<tr>
    <td>
    <span><%= title %></span>
    </td>
    <td>
    <input class="product-amount" type="number" data-fdcid="<%= fdcid %>" value="100" min="0" />
    <button type="button" class="close" data-fdcid="<%= fdcid %>" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </td>
</tr>
