<li class="list-group-item">
    Kohlenhydrate: <span><%= Kohlenhydrate %></span>g
</li>
<li class="list-group-item">
    Protein: <span><%= Protein %></span>g
</li>
<li class="list-group-item">
    Fett: <span><%= Fett %></span>g
</li>